@mixin infoLogoImg () {
  .cdi & > div {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 550px;

    .llc & {
      padding-bottom: 35px;
      padding-top: 305px;
    }
  }
}

@mixin infoHeader () {
  .llc & {
    h1 {
      @include font(120, 110, 'Habana');
      text-align: center;
    }

    h2 {
      display: none;
    }
  }

  .cdi & {
    h1, h2 {
      text-align: center;
    }

    h1 {
      @include font(140, 130, 'Refrigerator');
      text-transform: uppercase;
    }

    h2 {
      @include font(80, 80, 'Refrigerator');
    }
  }
}
