@mixin infoLogoImg () {
  .cdi & > div {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 550px;

    .llc & {
      padding-bottom: 35px;
      padding-top: 305px;
    }
  }
}

@mixin infoHeader () {
  .llc & {
    h1 {
      @include font(120, 110, 'Habana');
      text-align: center;
    }

    h2 {
      display: none;
    }
  }

  .cdi & {
    h1, h2 {
      text-align: center;
    }

    h1 {
      @include font(140, 130, 'Refrigerator');
      text-transform: uppercase;
    }

    h2 {
      @include font(80, 80, 'Refrigerator');
    }
  }
}

@mixin navigationList () {
  @include flex(row, normal, normal, wrap);
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    flex-basis: 520px;
    justify-content: center;
    margin-bottom: 30px;

    button {
      @include flex(row, center, flex-start);
      background-image: url('/static/svg/button-background.svg');
      background-repeat: repeat;
      border: 0;
      border-radius: 15px;
      height: 90px;
      width: 500px;

      div {
        display: flex;
        flex-basis: 400px;
        flex-wrap: wrap;
      }

      img {
        flex-basis: 70px;
      }

      span {
        flex-basis: 100%;
        line-height: 26px;

        &.alternate {
          font-size: 22px;
        }

        &.en {
          font-family: 'Hallo Sans';
          font-weight: 700;
        }

        &.primary {
          font-size: 36px;
        }

        &.es {
          font-family: 'Open Sans';
          font-style: italic;
          font-weight: 700;
        }
      }
    }
  }
}