html, body {
	height: 100%;
	width: 100%;
	margin: auto;
}

@font-face {
	font-family: 'open_sansregular';
	src: url('_resources/font/OpenSans-Regular-webfont.eot');
	src: url('_resources/font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('_resources/font/OpenSans-Regular-webfont.woff') format('woff'),
		url('_resources/font/OpenSans-Regular-webfont.ttf') format('truetype'),
		url('_resources/font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sanssemibold';
	src: url('_resources/font/OpenSans-Semibold-webfont.eot');
	src: url('_resources/font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('_resources/font/OpenSans-Semibold-webfont.woff') format('woff'),
		url('_resources/font/OpenSans-Semibold-webfont.ttf') format('truetype'),
		url('_resources/font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	position: fixed;
	bottom: 0;
	background-color:#E5E5E5;
	color:#333;
	overflow:hidden;
	font-family: 'open_sansregular', sans-serif;
}

body.mobile-view {
	position: initial;
	bottom: initial;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, form {
	margin: 0;
}

strong {
	font-family: 'open_sanssemibold', sans-serif;
	font-weight: normal;
}

img {
	border:none;
	outline:none;
}

textarea {
	resize: none;
}

#contentPanel {
	position: relative;
	width:100%;
	height:100%;
}

.bingLogo-lg {
	display: none;
}

a {
	color:#555;
	font-weight:bold;
	text-decoration:none;
	cursor: pointer;
}

a:hover{
	text-decoration:underline;
}

/*
 * Scrollbar
 */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: #888;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/*
 * Esri Identity Manager
 */

.esriSignInDialog {
	z-index: 2000  !important;
} 

/*
 * Error box
 */

#fatalError {
	position: absolute;
	display: none;
	z-index: 3000;
	top: 50%;
	left: 0px;
	width: 100%;
}

#fatalError > table {
	margin-top: -85px;
	margin-left:-247px;
	max-width: 490px;
	min-height: 85px;
	background-color: white;
	border: 2px solid #428BC9;
	padding:0px;
	margin-left: auto;
	margin-right: auto;
}

#fatalError .error-title {
	margin-right: 12px;
}

#fatalError .error-msg {
	margin-top: 8px;
	padding-bottom: 8px;
	margin-right: 8px;
}

#fatalError-icon {
	background: url('_resources/icons/warning-icon.png') 0 0px;
	width: 75px;
	height: 75px;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	background-position: 5px 10px;
}

/*
 * MISC
 */
.smallLoader {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(_resources/icons/loader.gif);
	vertical-align: -4px;
	margin-left: 4px;
}

/*
 * Bootstrap override
 */
.tooltip-inner {
 	text-align: left;
}

/* something seems to go wrong during the build and this is rule from bootstrap is removed */ 
input[type="radio"], 
input[type="checkbox"] {
	margin: 4px 0 0;
}