@mixin bottomCalloutHeadingColor($heading: $bottom-gray) {
  .bottom__storymap__callout__text h3 {
    color: $heading;
  }
}

#bottom {
  background-color: transparent;
  flex: 1;
}

.storymap #bottom {
  background-image: linear-gradient(180deg, $bottom-background-linear-1 0%, $bottom-background-linear-2 44%);
}

.bottom__storymap {
  @include flex(row, center, center);
  height: 100%;

  &__callout {
    @include flex(row);
    @include font(21, 26, 'OpenSans');
    background-color: $bottom-light-gray;
    border-radius: 10px;
    box-shadow: 0 0 60px 0 $bottom-shadow;
    font-weight: 400;
    max-height: 175px;
    padding: 30px;
    width: 600px;

    &__text {
      @include flex(column);
      color: $bottom-gray;
      padding: 0 30px;

      h3 {
        @include font(34, 24);
        font-weight: 900;
        margin-bottom: 18px;
        text-align: center;
        text-transform: uppercase;
      }

      p {
        letter-spacing: 0;
        text-align: center;
      }
    }
  }
}

.cdi-africa {
  @include bottomCalloutHeadingColor($region-1-secondary);
}

.cdi-americas {
  @include bottomCalloutHeadingColor($region-2-secondary);
}

.cdi-caribbean {
  @include bottomCalloutHeadingColor($region-3-secondary);
}

.cdi-europe {
  @include bottomCalloutHeadingColor($region-4-secondary);
}

.cdi-asia {
  @include bottomCalloutHeadingColor($region-5-secondary);
}

.cdi-region-6 {
  @include bottomCalloutHeadingColor($region-6-secondary);
}

.cdi-region-7 {
  @include bottomCalloutHeadingColor($region-7-secondary);
}

.cdi-region-8 {
  @include bottomCalloutHeadingColor($region-8-secondary);
}

.what-is-leaf {
  @include bottomCalloutHeadingColor($what-is-leaf-secondary);
}

.schools-streets {
  @include bottomCalloutHeadingColor($schools-streets-secondary);
}

.leaf-international {
  @include bottomCalloutHeadingColor($leaf-international-secondary);
}

.leaf-festival {
  @include bottomCalloutHeadingColor($leaf-festival-secondary);
}

.leaf-downtown {
  @include bottomCalloutHeadingColor($leaf-downtown-secondary);
}

.leaf-global {
  @include bottomCalloutHeadingColor($leaf-global-secondary);
}

.more-about-leaf {
  @include bottomCalloutHeadingColor($more-about-leaf-secondary);
}