#info {
  color: $white;
  height: 840px;
  padding: 50px;

  & > div {
    height: 100%;
  }

  .info__storymap .content {
    height: 100%;
  }
}

.info__attract {
  @include infoLogoImg();
  @include infoHeader();
}

.info__explore {
  &__content {
    @include flex(column, space-between, space-between);
    height: 100%;

    &__img {
      align-self: flex-end;
    }
  }

  h1 {
    @include font(120, 110, 'Habana');
    text-align: center;
  }

  .llc & img {
    width: 395px;
  }
}

.info__nav {
  @include infoLogoImg();
  @include infoHeader();

  // Overrides for Nav screen which has a long title
  .cdi & h1 {
    @include font(130, 110, 'Refrigerator');
  }
}

.info__region {
  @include infoLogoImg();
  @include infoHeader();
}

.info__storymap {
  &__background {
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &__content {
    @include flex(column, center);
    float: right;
    width: 400px;

    h1 {
      @include font(48, 48, 'Habana');
      text-align: center;
    }

    img {
      width: 270px;
    }

    .llc & img {
      width: 395px;
    }
  }

  &__shader {
    background-color: $shader;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
