#interaction {
  color: $white;
}

/* Make sure the height of the interaction pane 
 * spans the height
 */
.interaction__attract, .interaction__nav,
.interaction__explore, .interaction__explore,
.interaction__region {
  position: relative;
  height: 100%;
}

.interaction__attract {
  padding: 75px 0;

  & > div {
    height: 100%;
  }

  h1 {
    @include font(40, 35, 'Hallo Sans');
    color: $white;
    padding-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.interaction__explore #explore-map {
  height: 100%;
}

/* Nav and Region sections */
.interaction__nav,
.interaction__region {
  padding: 50px 20px;

  h2 {
    @include font(34, 46, 'OpenSans');
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
  }
}
