@mixin menuSvgColor ($bgColor: $black, $textColor: $white) {
  .menu__storymap__wrapper {
    svg {
      &.fade {
        opacity: 1;

        .text, .arrow {
          fill: $textColor;
          opacity: 0.3;
        }
      }

      .background {
        fill: $bgColor;
      }

      .text, .arrow {
        fill: $textColor;
      }
    }
  }
}

#menu {
  background: transparent;
}

.menu {
  &__storymap, &__explore {
    &__wrapper {
      @include flex(row, normal, space-between);
      background-image: url('/static/images/button-background.png');
      background-repeat: repeat;
      color: $white;
      height: 190px;
      padding: 10px 25px;

      &__title, &__buttons {
        @include flex(row, center);
      }

      &__buttons {
        align-items: flex-end;

        button {
          background: none;
          border: 0;
        }
      }

      &__title {
        h2 {
          @include font(56, 58, 'Hallo Sans');
          font-weight: 700;
          padding: 0 20px;
        }

        img, svg {
          height: 100px;
          width: 100px;
        }
      }
    }
  }
}

.menu {
  &__explore {
    &__wrapper {
      height: 70px;
    }
  }
}

.cdi-africa {
  @include menuSvgColor($region-1-secondary);
}

.cdi-americas {
  @include menuSvgColor($region-2-secondary);
}

.cdi-caribbean {
  @include menuSvgColor($region-3-secondary, $region-3-background);
}

.cdi-europe {
  @include menuSvgColor($region-4-secondary);
}

.cdi-asia {
  @include menuSvgColor($region-5-secondary);
}

.cdi-region-6 {
  @include menuSvgColor($region-6-secondary);
}

.cdi-region-7 {
  @include menuSvgColor($region-7-secondary);
}

.cdi-region-8 {
  @include menuSvgColor($region-8-secondary);
}
