/*
 * Bootstrap workaround
 * Form error feedback
 * Can't seem to get field feedback to works without that (02/27/14)
 */

.form-control-feedback {
	position: absolute;
    top: 3px;
    right: 10px;
    display: none;
    width: 34px;
    height: 34px;
    line-height: 29px;
    text-align: center;
}

.form-control-feedback.glyphicon-remove {
	color: #A94442;
}

.modal-tabs .tab:nth-child(1) {
	margin-left: 15px;
}

/*
 * Popup views
 */

#init-import-views {
	display: none;
}

/*
 * Mobile Builder 
 */
.builderMobile {
	display: none;
}

.modal-footer .success {
	color: #30750a;
}

.modal-footer .addSpinner {
	margin-left:8px;
}

/* Spectrum input color picker */	
.sp-input-container {
	height: 16px !important;
}

/* 
 * TODO
 */

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

textarea {
	resize: none;
}

/*
 * Modal footer
 */

.modal-footer .error, .modal-footer .success, .modal-footer .addSpinner {
	display: none;
	float: left;
	vertical-align: -4px;
	margin-top: 6px;
	font-size: 14px;
	color: #c43d40;
	font-weight: bold;
}

.modal-footer .success {
	color: #30750a;
}

.modal-footer .addSpinner {
	margin-left:8px;
}

.modal-footer .btn-back {
	display: none;
	font-size: 1.3em;
	margin-top: -3px;
}

/*
 * Mask
 */

body .builder-mask {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #2d2d2d;
	opacity: 0.6;
}

body.builder-mask .builder-mask {
	display: block;
	z-index: 3;
}