.builderShareError .modal-logo {
	position: absolute;
	top: -20px;
	left: -20px;
	width: 48px;
	height: 48px;
	background: url(../_resources/icons/builder-share.png);
	background-position: 0 -42px;
	background-repeat: no-repeat;
	border: 4px solid #FFF;
	border-radius: 24px;
}

.builderShareError a {
	color: #428bca;
	font-weight: normal;
	text-decoration: underline;
	cursor: pointer;
}
