<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-logo"></div>
		<div class="modal-header">
			<h3 class="modal-title"></h3>
		</div>
		<div class="modal-body">
			<div class="first-save hide">
				<div class="header"></div>
				<div class="btns">
					<button class="btn btn-primary btn-preview"><%= firstSavePreview %></button>
					<button class="btn btn-primary btn-share"><%= firstSaveShare %></button>
				</div>
				<div class="question question1"></div>
				<div class="answer answer1"></div>
			</div>
			<div class="share">
				<div class="not-shared hide">
					<div class="header"></div>
					<div class="share-btn">
						<button class="btn btn-default btn-preview"><%= firstSavePreview %></button>
						<span class="btn-sharePublicWrapper">
							<button class="btn btn-primary btn-sharePublic"></button>
						</span>
						<button class="btn btn-primary btn-shareOrga"></button>
					</div>
					<div class="share-warning"></div>
				</div>
				<div class="shared-dialog">
					<div class="share-url-panel"></div>
					<div class="explain"></div>
					
					<div class="question shared-question0"></div>
					<div class="answer shared-answer0"></div>
					
					<div class="question shared-question1"></div>
					<div class="answer shared-answer1"></div>
					
					<div class="question shared-question2"></div>
					<div class="answer shared-answer2"></div>
					
					<div class="question shared-question3"></div>
					<div class="answer shared-answer3"></div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<span class="footer-status success"></span>
			<span class="footer-status error"></span>
			<button class="btnClose btn btn-naked btn-close" data-dismiss="modal" aria-hidden="true"></button>
		</div>
	</div>
</div>