/*
 * Containers
 */

.settings-header {
	position: relative;
	margin-top: 18px;
}

.settings-header .settings-simulator {
	position: relative;
	width: 100px;
	height: 225px;
	background: url(../../_resources/icons/builder-settings-header-simulator.png);
}

.settings-header .settings-content {
	position: absolute;
	top: 0;
	left: 120px;
	margin-top: -2px;
  right: 0;
}

.settings-header .fa {
  color: #444;
}

.settings-header .uploadHelp {
  margin-left: 10px;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
  color: #777;
}

.settings-header .info-text {
  font-size: 11px;
  color: #c43d40;
}


/*
 * Inner containers
 */

.settings-header .settings-table {
	width: 300px;
	margin-top: 10px;
}

.settings-header .optionsLogoCustom .settings-table {
	width: 400px;
}

.settings-header .settings-table .td-lbl {
	display: inline-block;
	padding: 5px 0;
	vertical-align: -7px;
	font-size: 0.9em;
  white-space: nowrap;
}

.settings-header .settings-table .td-input,
.settings-header .settings-table .td-first {
	padding: 5px 0 0 10px;
}

.settings-header .settings-table .td-input {
  width: 100%;
}

/* hide the system's file chooser input */
.settings-header .btn-file {
  position: relative;
  overflow: hidden;
}

.settings-header .settings-table .btn {
  outline: none;
}
.settings-header .settings-table .btn-group {
  width: 72px;
}

.settings-header .settings-table .btn-group .btn {
  padding: 4px 10px;
}

.settings-header .settings-table .btn .fa {
  font-size: 14px;
}

.settings-header input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}

.settings-header .settings-table .hidden {
  display: none;
}

.settings-header .settings-table .btn[disabled] * {
  color: #999;
}

/*
 * Simulator
 */

.settings-header .imgLogo {
	position: absolute;
	top: 8px;
	right: 10px;
	max-width: 30px;
	max-height: 17px;
}

/*
 * Logo
 */

.settings-header .radio {
	margin-right: 10px;
  padding-top: 0;
  font-size: 0.9em;
}

.settings-header #logoInput {
	width: calc(100% - 30px);
}

.settings-header #logoTargetInput {
	width: 100%;
}

/*
 * Link
 */

.settings-header .form2 {
	margin-top: 20px;
  position: relative;
  width: 100%;
}

/*
 * Social
 */

.settings-header .socialConfig {
	position: absolute;
	right: 0;
}

.settings-header .socialConfig .checkbox {
	margin-left: -20px;
  margin-top: 0;
  margin-bottom: 5px;
}

.settings-header .socialConfig .checkbox.disabled .social-lbl {
	opacity: 0.5;
}
