<li>
  <button 
  <% if (colorPrimary.length > 0) { %>
    style="background-color: <%= colorPrimary %>; color: <%= colorText %>;"
  <% } %>
  data-nav="<%= action %>" data-<%= action %>="<%= targetId %>">
    <% if (imgSrc.length > 0) { %>
      <img src="<%= imgSrc %>" />
    <% } %>
    <div>
      <span class="primary <%= currentLanguage %>"><%= title %></span>
      <% if (alternate.length > 0) { %>
        <span class="alternate <%= alternateLanguage %>"><%= alternate %></span>
      <% } %>
    </div>
  </button>
  <div class="arrow"
    <% if (colorSecondary.length > 0) { %>
      style="background-color: <%= colorSecondary %>;"
    <% } %>
  ></div>
</li>