@mixin loadingIndicator ($fgColor: $black, $bgColor: $white) {
  #loadingOverlay {
    background-color: $bgColor;
  }

  #loadingIndicator svg g {
    fill: $fgColor;
    opacity: 1;
  }
}

#loadingOverlay {
  @include flex(column, center, center);
}

#loadingIndicator svg {
  opacity: 1;

  .firework {
    opacity: 0;
    animation: loadingShow 1.5s linear infinite;
  }

  $number: 11;
  @for $i from 1 through $number {
    .loading-#{$i} {
      animation-delay: $i * .1s;
    }
  }
}

@keyframes loadingShow {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.cdi-africa {
  @include loadingIndicator($region-1-primary, $region-1-background);
}

.cdi-americas {
  @include loadingIndicator($region-2-primary, $region-2-background);
}

.cdi-caribbean {
  @include loadingIndicator($region-3-primary, $region-3-background);
}

.cdi-europe {
  @include loadingIndicator($region-4-primary, $region-4-background);
}

.cdi-asia {
  @include loadingIndicator($region-5-primary, $region-5-background);
}

.cdi-region-6 {
  @include loadingIndicator($region-6-primary, $region-6-background);
}

.cdi-region-7 {
  @include loadingIndicator($region-7-primary, $region-7-background);
}

.cdi-region-8 {
  @include loadingIndicator($region-8-primary, $region-8-background);
}

.what-is-leaf {
  @include loadingIndicator($what-is-leaf-primary, $what-is-leaf-background);
}

.schools-streets {
  @include loadingIndicator($schools-streets-primary, $schools-streets-background);
}

.leaf-international {
  @include loadingIndicator($leaf-international-primary, $leaf-international-background);
}

.leaf-festival {
  @include loadingIndicator($leaf-festival-primary, $leaf-festival-background);
}

.leaf-downtown {
  @include loadingIndicator($leaf-downtown-primary, $leaf-downtown-background);
}

.leaf-global {
  @include loadingIndicator($leaf-global-primary, $leaf-global-background);
}

.more-about-leaf {
  @include loadingIndicator($more-about-leaf-primary, $more-about-leaf-background);
}