@mixin sidePanelTheme ($primary, $secondary, $background, $font-color: $white) {
  #sidePanel {
    background-color: $background;

    .section {
      h1, h2 {
        color: $secondary;
      }

      .content {
        &.overflow::after {
          background: linear-gradient(transparent 15px, $background);
          content: '';
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }

    .storymap__list {
      li {
        button {
          background-color: $primary;
          color: $font-color;
        }
      }

      .arrow {
        background-color: $primary;
      }
    }
  }
}

#sidePanel {
  .section {
    @include flex(column, normal);

    &:last-child {
      padding-bottom: 30px;
    }

    h1, h2 {
      @include font(30, 31, 'Hallo Sans');
      font-weight: 700;
    }

    .content {
      $height: 450px;
      height: $height;
      overflow-y: scroll;

      p {
        @include font(20, 30, 'OpenSans');
        color: #000;
        margin-bottom: 1em;
      }
    }

    .storymap__list {
      margin-top: auto;

      li {
        &:nth-child(2) {
          margin-top: 10px;
        }

        button {
          div {
            @include font(22, 22, 'OpenSans');
            display: block;
            font-weight: 700;
            flex-basis: unset;
            width: 100%;
          }
        }
      }
    }
  }
}

.interaction__storymap.cdi-africa {
  @include sidePanelTheme($region-1-primary, $region-1-secondary, $region-1-background);
}

.interaction__storymap.cdi-americas {
  @include sidePanelTheme($region-2-primary, $region-2-secondary, $region-2-background);
}

.interaction__storymap.cdi-caribbean {
  @include sidePanelTheme($region-3-primary, $region-3-secondary, $region-3-background, $region-3-secondary);
}
