@font-face {
  font-family: 'storymaps-icons';
  src: url('../_resources/font/storymaps-icons.eot?73880937');
  src: url('../_resources/font/storymaps-icons.eot?73880937#iefix') format('embedded-opentype'),
       url('../_resources/font/storymaps-icons.woff?73880937') format('woff'),
       url('../_resources/font/storymaps-icons.ttf?73880937') format('truetype'),
       url('../_resources/font/storymaps-icons.svg?73880937#storymaps-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'storymaps-icons';
    src: url('../font/storymaps-icons.svg?73880937#storymaps-icons') format('svg');
  }
}
*/

.shareIcon[class^="icon-"]:before, .shareIcon[class*=" icon-"]:before {
  font-family: "storymaps-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  font-size: 120%;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-link:before { content: '\e802'; } /* 'î ‚' */
.icon-twitter-1:before { content: '\e800'; } /* 'î €' */
.icon-facebook-squared-1:before { content: '\e801'; } /* 'î �' */

.shareIcon {
	display: none;
	cursor: pointer;
	margin-left: 0;
	color: #CECECE;
	vertical-align: 0px;
}

.shareIcon.active {
	display: inline-block;
}

.shareBtns > .shareIcon ~ .shareIcon {
	margin-left: 4px;
}

.shareIcon:hover {
	color: #ACACAC;
}

.share_bitly {
	vertical-align: 1px;
	margin-left: 2px;
}

.social .popover-title {
	display: none;
}

#bitlyInput {
	font-family: sans-serif !important;
}

#bitlyInput::-ms-clear {
	display: none;
}