.share-embed-container .embed-explain {
	font-size: 0.85em;
	color: #4F4F4F;
}

.share-embed-container .share-embed-wrapper {
	position: relative;
}

.share-embed-container .embedTextarea {
	width: 100%;
	height: 68px;
	margin: 10px 0 0 0;
	font-size: 90%;
	padding-left: 36px;
	cursor: text;
}

.share-embed-container .share-embed-wrapper.touch .embedTextarea {
	padding-left: 2px;
}

.share-embed-container .embed-lbl-size {
	color: #4F4F4F;
}

.share-embed-container .share-btn {
    display: block;
    position: absolute;
    font-size: 1.6em;
    background: #E1F0FB;
    color: #396e8b;
    cursor: pointer;
    top: 1px;
    left: 1px;
    bottom: 1px;
    width: 32px;
    padding-top: 26px;
    padding-left: 2px;
}

.share-embed-container .share-embed-wrapper.touch .share-clipboard {
	display: none;
}

.share-embed-container .share-status-wrapper {
	height: 14px;
	font-weight: bold;
	font-size: 1.2rem;
	color: #66aa67;
	text-align: left;
	margin-left: 2px;
}

.share-embed-container .share-status {
	display: none;
}
