/* TODO some code to mutualize between URL and EMBED */

.share-url-container {
	position: relative;
}

.share-url-container .bitlylink {
	display: inline-block;
	width: 266px;
	height: 34px;
	text-align: center;
	font-size: 20px;
	cursor: text;
	padding: 0px 0 0 32px;
	line-height: 20px;
}

.share-url-container.touch .bitlylink {
	width: 230px;
	padding: 6px 0;
}

body.mobile-view .share-url-container .bitlylink {
	width: 100%;
}

.share-url-container .btn {
	margin-left: 8px;
	text-transform: uppercase;
	vertical-align: 2px;
}

.share-url-container .share-btn {
    display: block;
    position: absolute;
    font-size: 1.6em;
    background: #E1F0FB;
    color: #396e8b;
    cursor: pointer;

    top: 1px;
    margin-left: 2px;
    width: 32px;
}

.share-url-container.touch .share-clipboard {
	display: none;
}

.share-url-container .share-status-wrapper {
	height: 20px;
	font-weight: bold;
	font-size: 1.2rem;
	color: #66aa67;
	text-align: left;
}

.share-url-container .share-status {
	display: none;
}
