.mediaSelector {
	min-height: 332px;
}

.mediaSelector .lblSelect {
	display: inline-block;
	text-transform: uppercase;
}

/*
 * Selector
 */

.mediaSelector .media-type-wrapper {
	display: inline-block;
	position: relative;
	height: 40px;
	margin-right: 3px;
}

.mediaSelector.smallSize .media-type-wrapper {
	margin-right: 5px;
}

.mediaSelector .media-type-wrapper.disabled {
	display: none;
}

.mediaSelector .mediaContainersArrow {
	position: absolute;
	visibility: hidden;
	top: 25px;
	left: 50%;
	right: 50%;
	width: 0;
	height: 0;
	margin-left: -15px;
	border-style: solid;
	border-width: 0 15px 15px;
	border-color: transparent transparent #F3F3F3 transparent;
}

.mediaSelector .media-type-wrapper.current .mediaContainersArrow {
	visibility: visible;
}

.mediaSelector .media-types {
	display: inline-block;
}

.mediaSelector .media-type {
	display: inline-block;
	color: #4F4F4F;
	cursor: pointer;
	padding-left: 4px;
}

.mediaSelector .media-type .icon {
	margin-left: 2px;
	margin-right: 6px;
	color: #666;
}

/*
 * View container
 */

.mediaSelector .mediaContainers {
	background-color: #F3F3F3;
}

.mediaSelector .mainMediaTypeContainer {
	display: none;
	padding: 15px;
}

textarea.alt-text {
	resize: vertical;
	font-size: 12px;
	color: black;
}

.mediaSelector .mainMediaTypeContainer.error {
	/*background-color: red;*/
}

.mediaSelector .media-type-wrapper input[type="radio"] {
	margin-top: 0;
}

.mainMediaTypeContainer .footnote {
	margin-top: 1em;
	font-size: 0.8em;
	text-align: center;
}

.mainMediaTypeContainer .link {
	text-decoration: underline;
}
