<div class="webpageSelectorHome">
	<div class="form-group">
		<label><%= lblUrl %></label>
		<input type="text" class="form-control url" placeholder="<%= phURL %>"/>
		<button class="btn btn-primary btn-cfg btn-cfg-url"><%= btnConfigure %></button>
	</div>

	<div class="separator">
		<span class="solidline"></span>
		<%= lblOR %>
		<span class="solidline"></span>
	</div>

	<div class="form-group">
		<label><%= lblEmbed %></label>
		<textarea class="form-control textarea" placeholder="<%= phEmbed %>"></textarea>
		<button class="btn btn-primary btn-cfg btn-cfg-embed"><%= btnConfigure %></button>
	</div>

	<div class="form-note">
		<label><%= lblMustUseHTTPS %></label>
	</div>

	<div class="error"></div>
</div>
