<div class="webpageSelectorHome">	
	<div class="form-group">
		<label><%= lblUrl %></label>
		<input type="text" class="form-control url" placeholder="<%= phURL %>"/>
	</div>
	
	<div class="separator">
		<span class="solidline"></span>
		<%= lblOR %>
		<span class="solidline"></span>
	</div>
	
	<div class="form-group">
		<label><%= lblEmbed %></label>
		<textarea class="form-control textarea" placeholder="<%= phEmbed %>"></textarea>
	</div>
	
	<div style="text-align: center; margin-top: 10px;">
		<button class="btn btn-primary btn-cfg-embed"><%= btnConfigure %></button>
	</div>
	
	<div class="error"></div>
</div>