<div class="settings-layoutoptions">
	<div class="option-container">
		<div class="btn-group btn-position">
			<button type="button" class="btn btn-default btn-xs" data-value="left"><%= cfgLeft %></button>
			<button type="button" class="btn btn-default btn-xs" data-value="right"><%= cfgRight %></button>
		</div>
		<div class="thumbnail-position"></div>
	</div>
	<div class="option-container">
		<div class="btn-group btn-size">
			<button type="button" class="btn btn-default btn-xs" data-value="small"><%= cfgSmall %></button>
			<button type="button" class="btn btn-default btn-xs" data-value="medium"><%= cfgMedium %></button>
			<button type="button" class="btn btn-default btn-xs" data-value="large"><%= cfgLarge %></button>
		</div>
		<div class="thumbnail-size"></div>
	</div>
	<div class="opt-row opt-layout-side">
		<div class="checkbox">
			<label>
				<input type="checkbox" class="opt-checkbox" value="sociallinks" />
				<%= socialLinksLabel %>
			</label>
		</div>
		<div class="opt-explain">
			<%= socialLinksDescr %>
		</div>
	</div>
</div>