<div class="settings-fonts">
	<table>
		<tr>
			<td class="fonts-row">
				<%= sectionTitleLbl %>
			</td>
			<td>
				<div class="btn-group">
					<button class="btn btn-default dropdown-toggle font-title-btn" type="button" data-toggle="dropdown">
						<span class="font-title-btn-inner"></span>&nbsp;<span class="caret"></span>
					</button>
					<ul class="dropdown-menu font-title-list"></ul>
				</div>
			</td>
		</tr>
		<tr>
			<td class="fonts-row">
				<%= sectionContentLbl %>
			</td>
			<td>
				<div class="btn-group">
					<button class="btn btn-default dropdown-toggle font-title-btn" type="button" data-toggle="dropdown">
						<span class="font-content-btn-inner"></span>&nbsp;<span class="caret"></span>
					</button>
					<ul class="dropdown-menu font-content-list"></ul>
				</div>
			</td>
		</tr>
	</table>
</div>