<div class="builderHelp">
	<div class="builderHelpContainer">
		<div class="help-header">
			<div class="help-logo"></div>
			<%= lblHelp %>
		</div>
		<div class="helpNav">
			<div class="stroke-bg"></div>
			<div class="helpBtns">
				<div class="helpBtn helpAdd">
					<div class="helpImg"></div>
					<div class="helpLbl"><%= lblAdd %></div>
				</div>
				<div class="helpBtn helpSettings">
					<div class="helpImg"></div>
					<div class="helpLbl"><%= lblSettings %></div>
				</div>
				<div class="helpBtn helpOrganize">
					<div class="helpImg"></div>
					<div class="helpLbl"><%= lblOrga %></div>
				</div>
				<div class="helpBtn helpEdits">
					<div class="helpImg"></div>
					<div class="helpLbl"><%= lblEdit %></div>
				</div>
				<div class="helpBtn helpPublish">
					<div class="helpImg"></div>
					<div class="helpLbl"><%= lblPublish %></div>
				</div>
				<div class="helpBtn helpTips">
					<div class="helpImg"></div>
					<div class="helpLbl"><%= lblTips %></div>
				</div>
			</div>
		</div>
		
		<div class="helpText"></div>
		
		<div class="helpFooter">
			<%= lblMore %> <button class="btn btn-external-help"><%= lblLink %></button>
			<span class="footerBtn">
				<button class="btn btn-next"><%= btnNext %></button>
				<button class="btn btn-close btn-naked"><%= btnClose %></button>
			</span>
		</div>
	</div>
</div>