<div class="builderLanding">
	<div class="landing-add-container">
		<div class="landing-lbl"><%= lblAdd %></div>
		<div class="add-title-wrapper">
			<input type="text" class="form-control add-title" placeholder="<%= phAdd %>"/>
			<span class="landing-btn disabled"></span>
		</div>
	</div>
	
	<div class="btnSeparator">
		<span class="solidline"></span>
		<%= lblOR %>
		<span class="solidline"></span>
	</div>
	
	<div class="landing-tour-container">
		<div class="landing-btn"></div>
		<div class="landing-lbl"><%= lblHelp %></div>
	</div>
</div>