<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-logo"></div>
		<div class="modal-header">
			<h4 class="modal-title"><%= title %></h4>
		</div>

		<div class="modal-body">
			<div><%= lblHeader %></div>
			
			<!-- 
			<div class="story-filter-container">
				<ul class="nav nav-pills story-filters">
					<li><a class="story-filter"><% /* lblAll */ %></a></li>
				</ul>
			</div>
	
			<hr class="filter-hr"/>
				-->
				
			<div class="organizeTableContainer">
				<table class="organizeTable table table-striped">
					<thead>
					<tr>
						<th class="moverHeader">&nbsp;</th>
						<th><%= lblColTitle %></th>
						<th style="width: 170px;"><%= lblColPubDate %></th>
						<th style="width: 80px;"><%= lblColStatus %></th>
						<th style="width: 44px;"></th>
					</tr>
					</thead>
					<tbody class="rows">
						<!-- rows -->
					</tbody>
				</table>
			</div>
			
			<div class="checkbox">
				<label>
					<input type="checkbox" name="displayReverse"/><%= checkDisplayReverse %>
				</label>
			</div>
		</div>

		<div class="modal-footer">
			<span class="modal-footer-left">
				<button class="btn btn-default btn-export"><%= btnExport %></button>
				<a href="#" class="exportHelp" data-toggle="tooltip" data-title="<%= tooltipExport %>">
					<img src="resources/tpl/builder/icons/builder-help.png"/>
				</a>
			</span>
			<button type="button" class="btn btnApply btn-primary"></button>
			<button type="button" class="btn btnCancel btn-naked btn-close" data-dismiss="modal"><%= btnCancel %></button>
		</div>
	</div>
</div>