.mapEditPopup.firefox-hide-fix {
	visibility: hidden;
}

.mapEditPopup .modal-dialog {
	padding: 40px;
	width: 100%;
	margin: 0;
	height: 100%;
}

.mapEditPopup .modal-content {
	height: 100%;
}

.mapEditPopup .modal-body {
	height: calc(100% - 110px);
    padding-bottom: 10px;
}

.mapEditPopup .modal-logo {
	position: absolute;
	top: -19px;
	left: -20px;
	width: 48px;
	height: 48px;
	background: url(../../../../../../resources/tpl/builder/icons/builder-edit-noborder.png);
	background-position: 0 -41px;

	background-repeat: no-repeat;
	background-size: 40px;
	border: 4px solid #FFF;
	border-radius: 24px;
}

.mapEditPopup .embed-title {
	font-size: 1.3em;
	color: #4B8BC9;
	margin: 15px 0 5px 0;
}

.mapEditPopup .loading-container {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 130%;
	color: #396e8b;
}

.mapEditPopup .loading-lbl {
	margin-top: 10px;
}

.mapEditPopup .webmap-builder-container {
	position: absolute;
	top: 0;
	left: 0px;
	right: 0px;
	bottom: 10px;
}

.mapEditPopup .webmap-builder-container.hide {
	display: block !important;
	visibility: hidden;
	pointer-events: none;
}

.mapEditPopup .webmap-builder {
	width: 100%;
	height: 100%;
	border: none;
	padding: 0 30px 0 30px;
}

.mapEditPopup .modal-footer .error {
	float: none;
	margin-right: 10px;
	font-size: 18px;
}

/*
 *Cancel popover
 */
.mapEditPopup .modal-dialog > .popover .popover-title,
.mapEditPopup .modal-dialog > .popover .popover-content {
	text-align: center;
}

.mapEditPopup .btn-cancel-popover {
	margin-left: 10px;
}
