<div class="mapConfigOverlay toc">
	<!--
	<div class="expandButton">
		<span class="toc-title">
			<%= tocTitle %>
		</span>
		<span class="toc-toggle"></span>
	</div>
	-->
	<div class="header"><%= tocTitle %></div>
	<div class="explain"><%= tocExplain %></div>
	<div class="tocContainer"><!-- TOC is injected here --></div>
	<div class="btns">
		<button type="button" class="btn btn-primary save"><%= tocSave %></button>
		<div style="margin-top:10px">
			<button type="button" class="btn btn-sm btn-naked reset"><%= btnReset %></button> |
			<button type="button" class="btn btn-sm btn-naked cancel"><%= btnCancel %></button>
		</div>
	</div>
</div>

<div class="mapConfigOverlay position">
	<div class="header"><%= extentTitle %></div>
	<div class="explain"><%= extentExplain %></div>
	<div class="btns">
		<button type="button" class="btn btn-primary save"><%= extentSave %></button>
		<div style="margin-top:10px">
			<button type="button" class="btn btn-sm btn-naked reset"><%= btnReset %></button> |
			<button type="button" class="btn btn-sm btn-naked cancel"><%= btnCancel %></button>
		</div>
	</div>
</div>

<div class="mapConfigOverlay popup">
	<div class="header"><%= popupTitle %></div>
	<div class="explain"><%= popupExplain %></div>
	<div class="btns">
		<button type="button" class="btn btn-primary save"><%= popupSave %></button>
		<div style="margin-top:10px">
			<button type="button" class="btn btn-sm btn-naked reset"><%= btnReset %></button> |
			<button type="button" class="btn btn-sm btn-naked cancel"><%= btnCancel %></button>
		</div>
	</div>
</div>
