@font-face { font-family: 'Habana'; src: url("/static/fonts/HabanaFont.ttf") format("truetype"); }
@font-face { font-family: 'Hallo Sans'; font-weight: 400; src: url("/static/fonts/HalloSans/HalloSans-IK.otf") format("opentype"); }
@font-face { font-family: 'Hallo Sans'; font-weight: 100; src: url("/static/fonts/HalloSans/Hallosans-Light-IK.otf") format("opentype"); }
@font-face { font-family: 'Hallo Sans'; font-weight: 700; src: url("/static/fonts/HalloSans/Hallosans-Black-IK.otf") format("opentype"); }
@font-face { font-family: 'OpenSans'; font-weight: 100; src: url("/static/fonts/OpenSans/OpenSans-Light.ttf") format("truetype"); }
@font-face { font-family: 'OpenSans'; font-weight: 400; src: url("/static/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"); }
@font-face { font-family: 'OpenSans'; font-weight: 500; src: url("/static/fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype"); }
@font-face { font-family: 'OpenSans'; font-weight: 700; src: url("/static/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"); }
@font-face { font-family: 'OpenSans'; font-weight: 900; src: url("/static/fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype"); }
@font-face { font-family: 'Refrigerator'; font-weight: 700; src: url("/static/fonts/Refrigerator Deluxe Bold.otf") format("opentype"); }
.no-touch { background: transparent; }

#container { background-size: cover; background-repeat: no-repeat; display: flex; flex-direction: column; height: 100%; }

#interaction { height: 640px; }

/* Full Screen Video Info */
.fullscreen-bg { position: fixed; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; z-index: -100; }

.fullscreen-bg__video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.fullscreen-bg__shader { background-color: #111111; height: 100%; opacity: 0.65; position: absolute; width: 100%; z-index: 1; }

@media (min-aspect-ratio: 16 / 9) { .fullscreen-bg__video { width: 100%; height: auto; } }
@media (max-aspect-ratio: 16 / 9) { .fullscreen-bg__video { width: auto; height: 100%; } }
@media (min-aspect-ratio: 16 / 9) { .fullscreen-bg__video { height: 300%; top: -100%; } }
.sidePanel .section { height: 585px; }

#menu { background: transparent; }

.menu__storymap__wrapper { background-image: url("/static/svg/button-background.svg"); background-repeat: repeat; color: #ffffff; display: flex; flex-direction: row; justify-content: space-between; height: 190px; padding: 10px 25px; }

.menu__storymap__wrapper__title, .menu__storymap__wrapper__buttons { align-items: center; display: flex; flex-direction: row; flex-wrap: nowrap; }

.menu__storymap__wrapper__title img { height: 100px; width: 100px; }

.menu__storymap__wrapper__title h2 { font-family: 'Hallo Sans'; font-size: 56px; font-weight: 700; line-height: 58px; padding: 0 20px; }

.menu__storymap__wrapper__buttons { align-items: flex-end; }

.menu__storymap__wrapper__buttons button { background: none; border: 0; }

#info { color: #ffffff; height: 840px; padding: 50px; }

#info > div { height: 100%; }

#info .info__storymap .content { height: 100%; }

.info__attract__img, .info__explore__img, .info__nav__img, .info__region__img { display: block; margin: 0 auto; width: 550px; }

.llc .info__attract__img, .llc .info__explore__img, .llc .info__nav__img, .llc .info__region__img { padding-bottom: 35px; padding-top: 305px; }

.cdi .info__attract > div, .cdi .info__explore > div, .cdi .info__nav > div, .cdi .info__region > div { display: flex; height: 100%; flex-direction: column; justify-content: space-between; }

.info__attract h1, .info__explore h1, .info__nav h1 { font-family: 'Habana'; font-size: 120px; line-height: 110px; text-align: center; }

.cdi .info__attract h1, .cdi .info__attract h2, .cdi .info__nav h1, .cdi .info__nav h2, .cdi .info__region h1, .cdi .info__region h2 { font-family: 'Refrigerator'; text-align: center; }

.info__attract h1, .info__region h1 { font-size: 130px; line-height: 130px; text-transform: uppercase; }

.info__attract h2, .info__nav h2, .info__region h2 { font-size: 80px; line-height: 80px; }

.info__storymap__background { position: absolute; left: 0; height: 100%; top: 0; width: 100%; z-index: -1; }

.info__storymap__shader { background-color: #111111; height: 100%; left: 0; opacity: 0.65; position: absolute; top: 0; width: 100%; z-index: -1; }

.info__storymap__content { align-items: center; display: flex; flex-direction: column; float: right; width: 400px; }

.info__storymap__content img, .info__explore__content img { width: 270px; }

.info__storymap__content h1, .info__explore__content h1 { font-family: 'Habana'; font-size: 48px; text-align: center; }

#interaction { color: #ffffff; }

/* Make sure the height of the interaction pane  spans the height */
.interaction__attract, .interaction__nav, .interaction__explore, .interaction__explore, .interaction__region { height: 100%; }

/* Attract Screen */
.interaction__attract > div { height: 100%; }

.interaction__attract h1 { color: #53B048; font-family: 'Hallo Sans'; font-size: 40px; line-height: 35px; padding-bottom: 35px; text-align: center; text-transform: uppercase; }

.interaction__attract img { display: block; margin: 0 auto; }

.interaction__explore #explore-map { height: 100%; }

/* Nav and Region sections */
.interaction__nav, .interaction__region { padding: 50px 20px; }

.interaction__nav h2, .interaction__region h2 { font-family: 'OpenSans'; font-size: 36px; font-weight: 500; line-height: 46px; margin-bottom: 50px; text-align: center; }

.interaction__nav ul, .interaction__region ul { display: flex; flex-direction: row; flex-wrap: wrap; list-style-type: none; margin: 0; padding: 0; }

.interaction__nav ul li, .interaction__region ul li { display: flex; flex-basis: 520px; justify-content: center; margin-bottom: 30px; }

.interaction__nav ul li button, .interaction__region ul li button { align-items: center; background-image: url("/static/svg/button-background.svg"); background-repeat: repeat; border: 0; border-radius: 45px; display: flex; justify-content: flex-start; height: 90px; width: 500px; }

.interaction__nav ul li button img, .interaction__region ul li button img { flex-basis: 70px; }

.interaction__nav ul li button div, .interaction__region ul li button div { display: flex; flex-basis: 400px; flex-wrap: wrap; }

.interaction__nav ul li button span, .interaction__region ul li button span { flex-basis: 100%; line-height: 26px; }

.interaction__nav ul li button span.primary, .interaction__region ul li button span.primary { font-size: 36px; }

.interaction__nav ul li button span.alternate, .interaction__region ul li button span.alternate { font-size: 22px; }

.interaction__nav ul li button span.en, .interaction__region ul li button span.en { font-family: 'Hallo Sans'; font-weight: 700; }

.interaction__nav ul li button span.es .interaction__region ul li button span.es { font-family: 'Open Sans'; font-style: italic; font-weight: 700; }

#bottom { background-color: transparent; flex: 1; }

.storymap #bottom { background-color: black; }

.bottom__storymap { align-items: center; display: flex; flex-direction: row; height: 100%; justify-content: center; }

.bottom__storymap__callout { background-color: #FBFFFE; border-radius: 10px; display: flex; flex-direction: row; flex-wrap: nowrap; font-family: OpenSans; padding: 30px; width: 450px; }

.bottom__storymap__callout__text { color: #5C5D5D; display: flex; flex-direction: column; flex-wrap: nowrap; padding: 0 30px; }

.bottom__storymap__callout__text h3 { font-size: 34px; font-weight: 900; line-height: 24px; margin-bottom: 10px; text-align: center; text-transform: uppercase; }

.bottom__storymap__callout__text p { font-size: 26px; font-weight: 400; letter-spacing: 0; text-align: center; line-height: 26px; }

/*# sourceMappingURL=main.css.map */
