<div class="imageSelectorHome">
	<table class="imageSelectorTable">
		<tr>
			<td class="btn-container btn-select-upload">
				<span class="fa fa-upload"></span>
				<span class="title"><%= lblUpload %></span>
			</td>
			<td class="btn-container btn-select-flickr">
				<span class="fa fa-flickr"></span>
				<span class="title">Flickr</span>
			</td>
			<td class="btn-container btn-select-picasa">
				<span class="fa fa-google"></span>
				<span class="title">Google+</span>
			</td>
			<td class="btn-container btn-select-url">
				<span class="fa fa-link"></span>
				<span class="title"><%= lblLink %></span>
			</td>
		</tr>
	</table>
</div>
<div class="facebook-warning"></div>
