<div class="menu__storymap__wrapper" style="background-color: <%= color %>;">
  <div class="menu__storymap__wrapper__title">
    <img src="/static/svg/leaf.svg" />
    <h2><%= name %></h2>
  </div>
  <div class="menu__storymap__wrapper__buttons">
    <button data-nav="nav">
      <img src="/static/svg/menu-back.svg" />
    </button>
    <% if (anotherLanguage) { %>
      <button data-nav="storymap" data-storymap="<%= alternateId %>" data-language="<%= (language === 'en') ? 'es' : 'en' %>">
      <% if (language === 'en') { %>
        <img src="/static/svg/menu-language-es.svg" />
      <% } else { %>
        <img src="/static/svg/menu-language-en.svg" />
      <% } %>
      </button>
    <% } %>
    <button data-nav="nav">
      <img src="/static/svg/hamburger-button.svg" />
    </button>
  </div>
</div>
