<div class="menu__storymap__wrapper" style="background-color: <%= color %>;">
  <div class="menu__storymap__wrapper__title" data-nav="first">
    <%= leafLogo %>
    <h2><%= name %></h2>
  </div>
  <div class="menu__storymap__wrapper__buttons">
    <button data-nav="back">
      <%= buttonBack %>
    </button>
    <button data-nav="next">
      <%= buttonNext %>
    </button>
    <% if (anotherLanguage) { %>
      <button data-nav="storymap" data-storymap="<%= alternateId %>" data-language="<%= (language === 'en') ? 'es' : 'en' %>">
      <% if (language === 'en') { %>
        <%= buttonLanguageEs %>
      <% } else { %>
        <%= buttonLanguageEn %>
      <% } %>
      </button>
    <% } %>
    <button data-nav="<%= buttonHamburgerNav %>" data-<%= buttonHamburgerNav %>="<%= buttonHamburgerData %>">
      <%= buttonHamburger %>
    </button>
  </div>
</div>
