<div class="videoSelectorHome">
	<table class="videoSelectorTable">
		<tr>
			<td class="btn-container btn-select-youtube">
				<span class="fa fa-youtube"></span>
				<span class="title">YouTube</span>
			</td>
			<td class="btn-container btn-select-vimeo">
				<span class="fa fa-vimeo"></span>
				<span class="title">Vimeo</span>
			</td>
			<td class="btn-container btn-select-other">
				<span class="fa fa-link"></span>
				<span class="title"><%= lblLink %></span>
			</td>
		</tr>
	</table>
	<div class="footnote">
		<span><%= thirdPartyTerms %></span>
		<a href="<%= youtubeTermsLink %>" target="_blank" class="link">YouTube</a>,
		<a href="<%= vimeoTermsLink %>" target="_blank" class="link">Vimeo</a>
	</div>
</div>
