.videoSelectorOther {
	padding-bottom: 20px;
}

.videoSelectorOther .explain {
	padding: 0 20px;
}

.videoSelectorOther .media-video-help-embed-dailymotion {
	display: inline-block;
	width: 360px;
	height: 140px;
	background: url(../../../_resources/icons/media-video-help-embed-dailymotion.png);
	border: 1px solid #428BC9;
	background-size: contain;
}