// colors
$black: #000000;
$bottom-gray: #5C5D5D;
$bottom-light-gray: #FBFFFE;
$bottom-shadow: rgba(241,245,240,0.50);
$bottom-background-linear-1: #424347;
$bottom-background-linear-2: #201E23;
$shader: rgba(17, 17, 17, 0.325);
$shader-dark: rgba(32, 30, 35, .90);
$white: #FFFFFF;

$leaf-red: #BD2B17;
$leaf-green: #7FBB1C;


// LEAF THEMES
// CDI
$region-1-primary: #6F9364;
$region-1-secondary: #475E40;
$region-1-background: #F1F5F0;
$region-2-primary: #7890B0;
$region-2-secondary: #4D5C71;
$region-2-background: #f0f2f5;
$region-3-primary: #D8CFAF;
$region-3-secondary: #767160;
$region-3-background: #f7f5ee;
$region-4-primary: #BE6E46;
$region-4-secondary: #8B5133;
$region-4-background: #f8f0ec;
$region-5-primary: #A57548;
$region-5-secondary: #795635;
$region-5-background: #f7f2ed;
$region-6-primary: #885053;
$region-6-secondary: #633B3D;
$region-6-background: #f5efef;
$region-7-primary: #508484;
$region-7-secondary: #335454;
$region-7-background: #eff5f5;
$region-8-primary: #CCA43B;
$region-8-secondary: #826926;
$region-8-background: #fcf8e8;

// LLC
$what-is-leaf-primary: #C84107;
$what-is-leaf-secondary: #923006;
$what-is-leaf-background: #FAEDE8;
$schools-streets-primary: #E5C031;
$schools-streets-secondary: #A08722;
$schools-streets-background: #fcf8e8;
$leaf-international-primary: #C65F20;
$leaf-international-secondary: #8C4417;
$leaf-international-background: #fbf0e9;
$leaf-festival-primary: #53B048;
$leaf-festival-secondary: #3E8436;
$leaf-festival-background: #eef8ed;
$leaf-downtown-primary: #5DC5C7;
$leaf-downtown-secondary: #449091;
$leaf-downtown-background: #ecf8f8;
$leaf-global-primary: #B6AA82;
$leaf-global-secondary: #857C5F;
$leaf-global-background: #f6f4ef;
$more-about-leaf-primary: #715035;
$more-about-leaf-secondary: #533B27;
$more-about-leaf-background: #f7f2ee;