<div class="section <%= optHtmlClass %>">
  <% if (subtitle.length > 0) { %>
  <<%= subtitleTag %> class="subtitle"><%= subtitle %></<%= subtitleTag %>>
  <% } %>
  <<%= titleTag %> class="title" tabindex="-1"><%= title %></<%= titleTag %>>
  <div class="content">
    <div class="content__inner">
      <%= content %>
    </div>
  </div>
  <div class="storymap__list">
    <% if (buttonTitle.length > 0) { %>
    <li>
      <button data-storymaps="<%= actionName %>" data-storymaps-type="navigate" href="#">
        <div>
          <% if (buttonSubtitle.length > 0) { %><span class='storymap__list__button-subtitle'><%= buttonSubtitle %></span><% } %>
          <span class='storymap__list__button-title'><%= buttonTitle %></span>
        </div>
      </button>
      <div class="arrow"></div>
    </li>
    <% } %>
    <% if (regionTitle.length > 0) { %>
    <li>
      <button data-nav="region" data-region="<%= regionId %>" href="#">
        <div>
          Explore more of <%= regionTitle %>
        </div>
      </button>
      <div class="arrow"></div>
    </li>
    <% } %>
    <% if (navTitle.length > 0) { %>
    <li>
      <button data-nav="nav" href="#">
        <div>
          <%= navTitle %>
        </div>
      </button>
      <div class="arrow"></div>
    </li>
    <% } %>
  </div>
</div>
