#info {
  color: #ffffff;
  height: 840px;
  padding: 50px;
}

#info > div {
  height: 100%;
}

#info .info__storymap .content {
  height: 100%;
}

.info__attract__img,
.info__explore__img,
.info__nav__img,
.info__region__img {
  display: block;
  margin: 0 auto;
  width: 550px;
}

.llc .info__attract__img,
.llc .info__explore__img,
.llc .info__nav__img,
.llc .info__region__img {
  padding-bottom: 35px;
  padding-top: 305px;
}

.cdi .info__attract > div,
.cdi .info__explore > div,
.cdi .info__nav > div,
.cdi .info__region > div {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.info__attract h1,
.info__explore h1,
.info__nav h1 {
  font-family: 'Habana';
  font-size: 120px;
  line-height: 110px;
  text-align: center;
}

.cdi .info__attract h1,
.cdi .info__attract h2,
.cdi .info__nav h1,
.cdi .info__nav h2,
.cdi .info__region h1,
.cdi .info__region h2 {
  font-family: 'Refrigerator';
  text-align: center;
}

.info__attract h1,
.info__region h1 {
  font-size: 140px;
  line-height: 140px;
  text-transform: uppercase;
}

.info__nav h1 {
  font-size: 130px;
}

.info__attract h2,
.info__nav h2,
.info__region h2 {
  font-size: 80px;
  line-height: 80px;
}

.info__storymap__background {
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  width: 100%;
  z-index: -1;
}

.info__storymap__shader {
  background-color: #111111;
  height: 100%;
  left: 0;
  opacity: 0.65;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.info__storymap__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  float: right;
  width: 400px;
}

.info__storymap__content img, .info__explore__content img {
  width: 270px;
}

.info__storymap__content h1, .info__explore__content h1 {
  font-family: 'Habana';
  font-size: 48px;
  text-align: center;
}