<div class="overviewContainer mapControls">
	<button class="titleBtn">
		<span class="collapseBtn" aria-hidden="true">
			<div class="glyphicon glyphicon-chevron-down"></div>
			<div class="glyphicon glyphicon-chevron-up"></div>
		</span>
		<%= title %>
	</button>

	<div class="content">
		<div class="overviewMapContainer">
			<!-- Map is injected here -->
		</div>
		<% if ( isInBuilder ) { %>
			<div class="settingsGear glyphicon glyphicon-wrench"></div>
			<div class="settingsOverlay">
				<div class="settings-title"><%= settings %></div>
				<div class="settings-content">
					<!-- Open by default -->
					<div class="checkbox">
						<label>
							<input type="checkbox" class="expandStartup" />
							<%= openDefault %>
						</label>
					</div>

					<!-- Basemap -->
					<div class="btn-group dropup basemap-dropdown">
						<button type="button" class="btn btn-default btn-sm dropdown-toggle basemapBtn" data-toggle="dropdown">
							<%= basemapGalleryBtnLabel %> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu basemaps dropdown-menu-form pull-right" role="menu"></ul>
					</div>
					<div id="basemapGallery"></div>

					<!-- Expand factor -->
					<div class="spinnerLabel">
						<label for="expandFactorSpinner"><%= expandFactorLabel %></label>
						<a class="locateBtnHelp" data-original-title="" title="">
							<img src="resources/tpl/builder/icons/builder-help.png" style="vertical-align: -5px;">
						</a>
					</div>

					<div class="input-group expandFactorSpinner">
						<input type="text" class="form-control input-small input-xs" id="expandFactorSpinner" value="2">
						<div class="input-group-btn-vertical">
							<button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-up"></i></button>
							<button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-down"></i></button>
						</div>
					</div>
				</div>
			</div>
		<% } %>
	</div>
</div>
