.overview {
	display: none;
}

.overview.hidden {
	display: none !important;
}

.overviewContainer {
	position: absolute;
	bottom: 0;
	left: 20px;
	width: 170px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/*margin-bottom: -6px;*/
	z-index: 30;
}

.overviewContainer .content {
	width: 150px;
	height: 150px;
	margin-bottom: 8px;
}

.overviewContainer .ovwContainer {
	width: 150px !important;
	height: 150px !important;
}

.overviewContainer .ovwHighlight {
	box-shadow: 0 0 5px #2E2E2E;
}

/*
 * Builder
 */

.overviewContainer .settingsOverlay {
	height: 152px;
	z-index: 99;
}

/* TODO - CSS to be cleaned-up */
.overviewContainer .basemap-dropdown,
.overviewContainer .basemapGallery,
.overviewContainer .spinnerLabel,
.overviewContainer .expandFactorSpinner {
	display: none;
}


/*
 * Basemap dropdown
 */

.btn-group.dropup > button {
	width: 140px;
}

.overviewMapSettingsOverlay > div.btn-group.dropup {
	margin: 1em;
	font-family: sans-serif;
	font-size: 0.90em;
}

.dropdown-menu > li {
	font-family: sans-serif;
	font-size: 12px;
}

/*
 * Zoom level
 */

.spinnerLabel {
    color: white;
    text-align: left;
    font-size: 0.9em;
    font-family: sans-serif;
    margin-top: 5px;
}

.expandFactorSpinner {
	width: 60px;
}

.expandFactorSpinner input {
	text-align: right;
}

.input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
}

.input-group-btn-vertical > .btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding: 8px;
	margin-left: -1px;
	position: relative;
	border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
	border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
	margin-top: -2px;
	border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
	position: absolute;
	top: 0;
	left: 2px;
}

.overviewMapSettingsOverlay > div.input-group.expandFactorSpinner {
	width: 65px;
	font-family: sans-serif;
	font-size: 1.1em;
}

.expandFactor-popover {
	width: 230px !important;
	height: 145px !important;
	font-family: sans-serif;
	font-size: 0.90em;
}
