#bottom {
  background-color: transparent;
  flex: 1;
}

.storymap #bottom {
  background-color: $black;
}

.bottom__storymap {
  @include flex(row, center, center);
  height: 100%;

  &__callout {
    @include flex(row);
    background-color: $bottom-light-gray;
    border-radius: 10px;
    font-family: OpenSans;
    padding: 30px;
    width: 450px;

    &__text {
      @include flex(column);
      color: $bottom-gray;
      padding: 0 30px;

      h3 {
        @include font(34, 24);
        font-weight: 900;
        margin-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
      }

      p {
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 0;
        text-align: center;
        line-height: 26px;
      }
    }
  }
}
