#bottom {
  background-color: transparent;
  flex: 1;
}

.storymap #bottom {
  background-color: $black;
}

.bottom__storymap {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;

  &__callout {
    background-color: $bottom-light-gray;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: OpenSans;
    padding: 30px;
    width: 450px;

    &__text {
      color: $bottom-gray;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 0 30px;

      h3 {
        @include font(34, 24);
        font-weight: 900;
        margin-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
      }

      p {
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 0;
        text-align: center;
        line-height: 26px;
      }
    }
  }
}
