.nav__list, .region__list {
  @include navigationList();
}

// Override the list style for the back button
.region__list__back {
  @include navigationList();
  justify-content: center;

  li {
    button {
      border: 3px $white solid;
      background-color: transparent;
      background-image: none;

      div {
        flex-basis: 100%;
      }
    }
  }
}
