.region__list {
  @include flex(row, normal, normal, nowrap);
  list-style-type: none;
  margin: 0;
  min-height: 505px;
  padding: 0;
  transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) 0.5s;

  [class^="region__list__slide"] {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 505px;
    width: 100%;
    padding-left: 0; // remove default ul padding
    // Order matters below
    place-content: flex-start;
    justify-content: center;

    & li {
      position: relative;
      display: flex;
      flex-basis: 520px;
      justify-content: center;
      margin-bottom: 30px;
      // For the animation(s)
      opacity: 0;
      transform: translateY(30px);
      transition: transform ease 1s;
      animation-name: slideUp;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-timing-function: ease;

      // At most there will be 8 links top to bottom, the rest will slide in
      @for $i from 1 through 8 {
        &:nth-of-type(#{$i}) {
          animation-delay: 0.15s * $i;
        }
      }

      & button {
        @include flex(row, center, flex-start);
        position: relative;
        background-image: url('/static/svg/button-background.svg');
        background-repeat: repeat;
        border: 0;
        border-radius: 15px;
        height: 96px;
        width: 445px;
        text-align: left;

        div {
          display: flex;
          flex-basis: 300px;
          flex-wrap: wrap;
          padding-left: 10px;
          top: -7px;
        }

        img {
          flex-basis: 70px;
        }

        span {
          flex-basis: 100%;
          line-height: 32px;

          &.alternate {
            font-size: 22px;
          }

          &.en {
            font-family: 'OpenSans';
            font-weight: 700;
          }

          &.primary {
            font-size: 32px;
          }

          &.es {
            font-family: 'OpenSans';
            font-style: italic;
            font-weight: 700;
          }
        }
      }

      & .arrow {
        position: absolute;
        top: 50%;
        right: 38px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        transform: translateY(-50%);
        background-image: url('/static/svg/arrow-right.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 22px auto;
      }
    }
  }
}

// Override the list style for the back button
.region__list__back {
  justify-content: center;

  li {
    position: relative;
    display: flex;
    flex-basis: 520px;
    justify-content: center;
    margin-bottom: 30px;

    & button {
      border: 3px $white solid;
      background-color: transparent;
      background-image: none;

      div {
        flex-basis: 100%;
      }
    }
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}