// Styles for all/any children of the region section

.region__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  height: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;

  &__copy {
    font-size: 22px;
    font-family: 'OpenSans ExtraBold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__btn-prev,
  &__btn-next {
    width: 46px;
    height: 46px;
    border: 0;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: 12px 20px;
    background-position: center;
  }

  &__btn-prev {
    background-image: url(/static/svg/chevron-left.svg);
  }
  &__btn-next {
    background-image: url(/static/svg/chevron-right.svg);
  }
}