.no-touch {
  background: transparent;
}

#container {
  @include flex(column);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

/* Full Screen Video Info */
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullscreen-bg__shader {
  background-color: $shader;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

// Heights
.attract {
  #info {
    height: 960px;
  }

  #interaction {
    height: 960px;
  }
}

.nav, .region {
  #info {
    height: 960px;
  }

  #interaction {
    height: 960px;
  }
}

.storymap {
  #interaction {
    height: 570px;
  }
}