@font-face {
  font-family: 'Habana';
  src: url('/static/fonts/HabanaFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Hallo Sans';
  font-weight: 400;
  src: url('/static/fonts/HalloSans/HalloSans-IK.otf') format('opentype');
}

@font-face {
  font-family: 'Hallo Sans';
  font-weight: 100;
  src: url('/static/fonts/HalloSans/Hallosans-Light-IK.otf') format('opentype');
}

@font-face {
  font-family: 'Hallo Sans';
  font-weight: 700;
  src: url('/static/fonts/HalloSans/Hallosans-Black-IK.otf') format('opentype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 100;
  src: url('/static/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  src: url('/static/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 500;
  src: url('/static/fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  src: url('/static/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 900;
  src: url('/static/fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Refrigerator';
  font-weight: 700;
  src: url('/static/fonts/Refrigerator Deluxe Bold.otf') format('opentype')
}
