<div class="section swiper-slide">
	<h1 class="title"><%= title %></h1>
	<div class="content"><%= content %></div>
	<p class="help">
		<span class="btnIcon glyphicon glyphicon-fullscreen"></span><%= lblTapDetails %>
		<span class="swipe-invite"><span class="btnIcon glyphicon glyphicon-resize-horizontal"></span><%= lblSwipe %></span>
	</p>
	<p class="help-embed">
		<span class="btnIcon glyphicon glyphicon-fullscreen"></span><%= lblClickDetails %>
	</p>
	<p class="expanded-close">
		<span class="btnIcon backmap"></span><%= lblTapMap %>
		<span class="swipe-invite"><span class="btnIcon glyphicon glyphicon-resize-horizontal"></span><%= lblSwipe %></span>
	</p>
	<p class="expanded-close-embed">
		<span class="embed-btn2 embed-btn2-left"></span>
		<button class="btn btn-primary backmap2"><%= lblClickMap %></button>
		<span class="embed-btn2 embed-btn2-right"></span>
	</p>
</div>