.no-touch {
  background: transparent;
}

#container {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#interaction {
  height: 640px;
}