@font-face {
  font-family: 'Habana';
  src: url('/static/fonts/HabanaFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Hallo Sans';
  font-weight: 400;
  src: url('/static/fonts/HalloSans/HalloSans-IK.otf') format('opentype');
}

@font-face {
  font-family: 'Hallo Sans';
  font-weight: 100;
  src: url('/static/fonts/HalloSans/HalloSans-Light-IK.otf') format('opentype');
}

@font-face {
  font-family: 'Hallo Sans';
  font-weight: 700;
  src: url('/static/fonts/HalloSans/HalloSans-Black-IK.otf') format('opentype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 100;
  src: url('/static/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  src: url('/static/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 500;
  src: url('/static/fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  src: url('/static/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 900;
  src: url('/static/fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
}

.no-touch {
  background: transparent;
}

#container {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#interaction {
  height: 640px;
}

/* Full Screen Video Info */
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullscreen-bg__shader {
  background-color: #111111;
  height: 100%;
  opacity: 0.65;
  position: absolute;
  width: 100%;
  z-index: 1;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    left: -50%;
    transform: translate(50%);
  }
}